	../../../../.CFUserTextEncoding
	../../../../.DS_Store
	../../../../.Trash/
	../../../../.anaconda/
	../../../../.bash_history
	../../../../.bash_profile
	../../../../.bash_sessions/
	../../../../.cacli/
	../../../../.conda/
	../../../../.condarc
	../../../../.config/
	../../../../.cufflinks/
	../../../../.cups/
	../../../../.docker/
	../../../../.gitconfig
	../../../../.ipynb_checkpoints/
	../../../../.ipython/
	../../../../.jupyter/
	../../../../.keras/
	../../../../.lesshst
	../../../../.matplotlib/
	../../../../.npm/
	../../../../.nvm/
	../../../../.python_history
	../../../../.python_history-02660.tmp
	../../../../.spyder-py3/
	../../../../.streamlit/
	../../../../.surprise_data/
	../../../../.viminfo
	../../../../Applications/
	../../../../Coding Exercises.ipynb
	../../../
	../../../../Documents/
	../../../../Downloads/
	../../../../Library/
	../../../../Movies/
	../../../../Music/
	../../../../Pictures/
	../../../../Public/
	../../../../Python Fun.ipynb
	../../../../Scratch Pad.ipynb
	../../../../Untitled.ipynb
	../../../../bash_profile
	../../../../nltk_data/
	../../../../seaborn-data/
